*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intellij IDEA Files
*.iml
.idea

# Eclipse Settings Files
.classpath
.settings

# Maven Build directory
target
